
<div class="main-content page-m">

    <div class="section-content section-content-p30">
        
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="firstName!.errors?.['required']|| firstName!.errors?.['notOnlyWhitespace']">
                                        First Name is required
                                    </div>

                                    <div *ngIf="firstName!.errors?.['minlength']">
                                        First Name must be at least 2 characters long
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                
                                <div *ngIf="lastName?.invalid && (lastName!.dirty || lastName!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="lastName!.errors?.['required']|| lastName!.errors?.['notOnlyWhitespace']">
                                        Last Name is required
                                    </div>

                                    <div *ngIf="lastName!.errors?.['minlength']">
                                        Last Name must be at least 2 characters long
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="email!.errors?.['required']">
                                        Email is required
                                    </div>

                                    <div *ngIf="email!.errors?.['pattern']">
                                        Email must be a valid email address format
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Phone</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="phone" type="text">
                                <div *ngIf="phone!.invalid && (phone!.dirty || phone!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="phone!.errors?.['required']|| phone!.errors?.['notOnlyWhitespace']">
                                        Phone Number is required
                                    </div>

                                    <div *ngIf="phone!.errors?.['maxlength']">
                                        Phone Number must be at least 10 characters long
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>


                    <div class="row">
                        <div class="col-md-2"> <label>Address</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="address" type="text">
                                <div *ngIf="shippingAddressAddress!.invalid && (shippingAddressAddress!.dirty || shippingAddressAddress!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressAddress!.errors?.['required']">
                                        Address is required
                                    </div>
                                    <div *ngIf="shippingAddressAddress!.errors?.['minlength']">
                                        Address must be at least 2 characters long
                                    </div>

                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>District</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="district" type="text">
                                <div *ngIf="shippingAddressDistrict!.invalid && (shippingAddressDistrict!.dirty || shippingAddressDistrict!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressDistrict!.errors?.['required']">
                                        District is required
                                    </div>
                                    <div *ngIf="shippingAddressDistrict!.errors?.['minlength']">
                                        District must be at least 2 characters long
                                    </div>

                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Sub-District</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="subdistrict" type="text">
                                <div *ngIf="shippingAddressSubDistrict!.invalid && (shippingAddressSubDistrict!.dirty || shippingAddressSubDistrict!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressSubDistrict!.errors?.['required']">
                                        Sub-District is required
                                    </div>
                                    <div *ngIf="shippingAddressSubDistrict!.errors?.['minlength']">
                                        Sub-District must be at least 2 characters long
                                    </div>

                            </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Province</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="province" type="text">
                                <div *ngIf="shippingAddressProvince!.invalid && (shippingAddressProvince!.dirty || shippingAddressProvince!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressProvince!.errors?.['required']">
                                        Province is required
                                    </div>
                                    <div *ngIf="shippingAddressProvince!.errors?.['minlength']">
                                        Province must be at least 2 characters long
                                    </div>

                            </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingAddressZipCode!.invalid && (shippingAddressZipCode!.dirty || shippingAddressZipCode!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressZipCode!.errors?.['required']">
                                        Postal Code is required
                                    </div>
                                    <div *ngIf="shippingAddressZipCode!.errors?.['minlength']">
                                        Postal Code is invalid
                                    </div>


                            </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>


                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Address</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="address" type="text">
                                <div *ngIf="billingAddressAddress!.invalid && (billingAddressAddress!.dirty || billingAddressAddress!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressAddress!.errors?.['required']">
                                        Address is required
                                    </div>
                                    <div *ngIf="billingAddressAddress!.errors?.['minlength']">
                                        Address must be at least 2 characters long
                                    </div>

                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>District</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="district" type="text">
                                <div *ngIf="billingAddressDistrict!.invalid && (billingAddressDistrict!.dirty || billingAddressDistrict!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressDistrict!.errors?.['required']">
                                        District is required
                                    </div>
                                    <div *ngIf="billingAddressDistrict!.errors?.['minlength']">
                                        District must be at least 2 characters long
                                    </div>

                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Sub-District</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="subdistrict" type="text">
                                <div *ngIf="billingAddressSubDistrict!.invalid && (billingAddressSubDistrict!.dirty || billingAddressSubDistrict!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressSubDistrict!.errors?.['required']">
                                        Sub-District is required
                                    </div>
                                    <div *ngIf="billingAddressSubDistrict!.errors?.['minlength']">
                                        Sub-District must be at least 2 characters long
                                    </div>

                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Province</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="province" type="text">
                                <div *ngIf="billingAddressProvince!.invalid && (billingAddressProvince!.dirty || billingAddressProvince!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressProvince!.errors?.['required']">
                                        Province is required
                                    </div>

                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingAddressZipCode!.invalid && (billingAddressZipCode!.dirty || billingAddressZipCode!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressZipCode!.errors?.['required']">
                                        Postal Code is required
                                    </div>
                                    <div *ngIf="billingAddressZipCode!.errors?.['minlength']">
                                        Postal Code is invalid
                                    </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Credit Card -->
  <!-- Stripe Elements Credit Card Section -->
  <div  class="form-area">

    <h3>Credit or Debit Card</h3>

    <div id="card-element">
        <!-- a Stripe element will be inserted here -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1'"></div>

</div>
                

                <!-- Order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: '฿' }}</p>
                </div>

                <!-- submit button-->
                <div class="text-center">

                    <button type="submit" class="btn btn-info"[disabled]="isDisabled">Purchase</button>
                
                </div>
       
            </form>

        </div>
    </div>
</div>