<section class="gallary">
    <div class="container">
        <div class="img-container">
            <img src="../assets/image-detail/iphone-13-blue-select-2021.png" alt="Image">
            <div class="img-preview text-center">

                <div class="img-slide active">
                    <img src="../assets/image-detail/iphone-13-blue-select-2021.png" alt="Image1" app-detail>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-pink-select-2021.png" alt="Image2" app-detail>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-midnight-select-2021.png" alt="Image3" app-detail>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-product-red-select-2021.png" alt="Image4" app-detail>
                </div>
            </div>            
        </div>
    </div>
</section>