<div class="container text-center"></div>
<section class="gallary">
    <div class="container">
        <div class="img-container">
            <img src="../assets/image-detail/iphone-13-blue-select-2021.png" alt="Image" id="preview">
            <div class="img-preview text-center">

                <div class="img-slide active">
                    <img src="../assets/image-detail/iphone-13-blue-select-2021.png" alt="Image1" appGallary>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-pink-select-2021.png" alt="Image2" appGallary>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-midnight-select-2021.png" alt="Image3" appGallary>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-product-red-select-2021.png" alt="Image4" appGallary>
                </div>
            </div>            
        </div>
    </div>

    
</section>
<section class = "detail">
    <div class="header">
        <h1> iPhone 13 </h1>
        <h2>Starting $699</h2>
        <br>Description:
        <div clss RadioButtons>
            <form action="#"> 
                <br>
                <p>Select colour : </p>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Blue
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Midnight
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Red
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Starlight
                  </label>
                </div>
      
                  <br>
      
                  <form>
                      <div class="form-group">
                        <input  type="number" class="form-control" id="formGroupExampleInput" placeholder="1" style="margin-bottom: 15px;">
                      </div>
                    </form>
                  <input type="submit" value="Add to cart" class = "btn btn-outline-dark" style="margin-right: 10px;">
                  <input type="submit" value="Buy " class = "btn btn-dark">
                </form>           
          </div>
    </div>
    
</section>
