.img-container{
    width: 30%;
    height: 30%;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.img-preview{
    margin-top: 0px;
}
.img-slide{
    display: inline-block;
    width: 24%;
    margin: 0 1px;
    cursor: pointer;
    opacity: 0.6;
}
.active{
    border: 2px solid rgb(121, 119, 119);
    opacity: 1;
}
.header{
    position: absolute;
    top: 32%;
    left: 43%;
    transform: translate(-50%,-50%);
}
.header h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.header h2{
    color: rgb(0, 0, 0);
    font-size: 25px;
}


