<section class="gallary">
    <div class="container">
        <div class="img-container">
            <img src="../assets/image-detail/iphone-13-blue-select-2021.png" alt="Image" id="preview">
            <div class="img-preview text-center">

                <div class="img-slide active">
                    <img src="../assets/image-detail/iphone-13-blue-select-2021.png" alt="Image1" appGallary>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-pink-select-2021.png" alt="Image2" appGallary>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-midnight-select-2021.png" alt="Image3" appGallary>
                </div>
                <div class="img-slide">
                    <img src="../assets/image-detail/iphone-13-product-red-select-2021.png" alt="Image4" appGallary>
                </div>
            </div>            
        </div>
    </div>

    
</section>
<section class = "detail">
    <div class="header">
        <h1> Iphone13 </h1>
        <h2>เริ่มต้น $999</h2>
        <br>คำอธิบาย
        <div clss RadioButtons>
        <form action="/action_page.php">
            <p>เลือกรุ่น:</p>
            <input type="radio" id="iPhone13Mini" name="fav_language" value="iPhone13Mini">
            <label for="iPhone13Mini">iPhone 13 mini  </label>
            <input type="radio" id="iPhone 13" name="fav_language" value="iPhone13">
            <label for="iPhone13">iPhone 13</label><br>
          
            <br>  
          
            <p>เลือกสี:</p>
            <input type="radio" id="color1" name="color" value="blue">
            <label for="color1">Blue </label>
            <input type="radio" id="color2" name="color" value="midnight">
            <label for="color2">Midnight </label>  
            <input type="radio" id="color3" name="color" value="red">
            <label for="color3">Red </label>
            <input type="radio" id="color4" name="color" value="starlight">
            <label for="color4">Starlight </label><br>
            <input type="submit" value="Submit">
          </form>           
    </div>
    </div>
    
</section>
