<head>
	<title>Contact us</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>ข้อมูลของฉัน</h2>
				<input type="text" class="field" placeholder="ชื่อผู้ใช้">
				<input type="text" class="field" placeholder="ชื่อ">
				<input type="text" class="field" placeholder="Email">
				<input type="text" class="field" placeholder="หมายเลขโทรศัพท์">
				<button class="btn">บันทึก</button>
			</div>
		</div>
	</div>
</body>
