
    <section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Shopping cart</h2>
    </div>
    </section>


    <!-- --------------------------------- SECTION CONTENT  -------------------------->
    <section class="section-content padding-y">
    <div class="container">

    <div class="row">
        <main class="col-md-9">
    <div class="card">

    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <!------------------------List 1-------------------------------->
            <div class="checkbox">
              <label>
                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </label>
            </div>

            <figure class="itemside">
                <div class="aside"><img src="#" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">Some name of item goes here nice</a>
                    <p class="text-muted small">Color: blue,  Brand: Iphone</p>
                </figcaption>
            </figure>
        </td>
        <td>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </td>
        <td>
            <div class="price-wrap">
                <var class="price">100฿</var>
                <small class="text-muted">100 Baht</small>
            </div>
        </td>
        <td class="text-right">
        <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
        <a href="" class="btn btn-light"> Remove</a>
        </td>
    </tr>
    <tr>
        <td>
          <!------------------------List 2--------------------------------->
          <div class="checkbox">
            <label>
              <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </label>
          </div>

            <figure class="itemside">
                <div class="aside"><img src="#" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">Product name  goes here nice</a>
                    <p class="text-muted small">Color: blue,  Brand: Iphone </p>
                </figcaption>
            </figure>
        </td>
        <td>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </td>
        <td>
            <div class="price-wrap">
                <var class="price">50฿</var>
                <small  class="text-muted"> 50 Baht </small>
            </div>
        </td>
        <td class="text-right">
        <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
        <a href="" class="btn btn-light btn-round"> Remove</a>
        </td>
    </tr>
    <tr>
        <td>
            <!------------------------List 3------------------------------->
            <div class="checkbox">
              <label>
                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </label>
            </div>

            <figure class="itemside">
                <div class="aside"><img src="#" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">Another name of some product goes just here</a>
                    <p class="small text-muted">Color: blue,  Brand: Iphone</p>
                </figcaption>
            </figure>
        </td>
        <td>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </td>
        <td>
            <div class="price-wrap">
                <var class="price">100 Baht</var>
                <small  class="text-muted"> 50 Baht </small>
            </div
        </td>
        <td class="text-right">
            <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
            <a href="" class="btn btn-light btn-round"> Remove</a>
        </td>
    </tr>
    </tbody>
    </table>


    </div>

        </main>
        <aside class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Have coupon?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                            <span class="input-group-append">
                                <button class="btn btn-primary">Apply</button>
                            </span>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                        <dl class="dlist-align">
                          <dt>Total price:</dt>
                          <dd class="text-right">568 Baht</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>Discount:</dt>
                          <dd class="text-right">658 Baht</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>Total:</dt>
                          <dd class="text-right  h5"><strong>1,650฿</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="assets/images/misc/payments.png" height="26">
                        </p>

                </div>
            </div>
        </aside>
    </div>
    </div>
    </section>
    <!---------------------------------------------  SECTION CONTENT END// ---------------------------------->


    <!-- FOOTER -->
    <footer class="section-footer border-top padding-y">
        <div class="container">
            <p class="float-md-right">
                &copy; Copyright 2022 All rights reserved
            </p>
        </div><!-- //container -->
    </footer>
    <!-- FOOTER END //  -->
