<head> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    


<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="../assets/image-profile/proDe.png" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        My name
                                    </h5>                                   
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="user/profile" role="tab" aria-controls="home" aria-selected="false">บัญชีของฉัน</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="user/purchase" role="tab" aria-controls="profile" aria-selected="true">ประวัติการซื้อสินค้า</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>รหัสสินค้า</th>
                            <th>....</th>
                            <th>....</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                        </tr>
                    </tbody>
                </table>

            </form> 
                     
        </div>
</body>

