<div class="container">
    <br />
    <address>
        
        <h1>ที่อยู่สำหรับจัดส่ง</h1>
        <h2>#######################</h2><a href="#">เปลี่ยน</a>
        <br />

    </address>
    <section>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>รายการ</th>
                    <th>ราคาต่อหน่วย</th>
                    <th>จำนวน</th>
                    <th>ราคาย่อย</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>        
    </section>
    <div class="delivery-options">
        <h1>option</h1>
        <h2>###################</h2>
        <a href="#">เปลี่ยน</a>

    </div>
    <div class="pay">
        <h1>วิธีการชำระเงิน</h1>
        <h2>###################</h2>
        <a href="#">เปลี่ยน</a>
    </div>
    <div class="sum">
        <h3 style="display: inline; margin-left: 1000px;">ราคาสินค้า</h3>
        <h3 style="display: inline; float:right; margin-right: 30px;">#</h3>
        <h3 style="display: inline; margin-left: 1000px;">ค่าจัดส่ง</h3>
        <h3 style="display: inline; float:right; margin-right: 30px;">#</h3>
        <h3 style="display: inline; margin-left: 1000px;">ราคารวม</h3>
        <h4 style="display: inline; float:right; margin-right: 30px; ">#</h4>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-lg" >สั่งซื้อ</button>
        
    </div>
     
</div>

