<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
<h3>Cart</h3>
            <div *ngIf="cartItems.length > 0">
        
              
                
                    <!-- --------------------------------- SECTION CONTENT  -------------------------->
                    <!----
                    <section class="section-content padding-y">
                    <div class="container">
                
                    <div class="row">
                        <main class="col-md-9">
                    <div class="card">
                
                    <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Product</th>
                     
                      <th scope="col" width="120">Price</th>
                      <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            ----------------------List 1--------------------------------
            
                            <tr *ngFor="let tempCartItem of cartItems">
                            <figure class="itemside">
                                
                                <div class="aside"><img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px"></div>
                                <figcaption class="info">
                                    <a href="" class="title text-dark">{{ tempCartItem.name }}</a>
                                  
                                </figcaption>
                            </figure>
                        </td>
       
                        <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <div class="price-wrap">
                                <var class="price">{{ tempCartItem.unitPrice | currency: '฿' }}</var>
                                <small class="text-muted"></small>
                                
                            </div>
                            
                        </td>
                        <div class="items">
                            <label>Quantity:</label> 
                           

                            <div class="row no-gutters">
                                <div class="col">
                                    <button (click)="incrementQuantity(tempCartItem)" class="btn btn-dark btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>

                                <div class="col ml-4 mr-2">
                                    {{ tempCartItem.quantity }}
                                </div>

                                <div class="col">
                                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-dark btn-sm">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>

                                <div class="col-8"></div>
                            </div>

                        </div>
                    </tr>
                    <tr>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </main>
                    
 
                </div>
                </div>
                </section><-!---->
                <!----------------------------------------------  SECTION CONTENT END// ---------------------------------->
            
            
            

            <table class="table table-bordered">
                <tr>
                    <th width="20%">Product Image</th>
                    <th width="50%">Product Detail</th>
                    <th width="30%"></th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                    </td>
                    <td>
                        <p>{{ tempCartItem.name }}</p>
                        <p>{{ tempCartItem.unitPrice | currency: '฿' }}</p>
                    </td>
                    <td>
                        <div class="items">
                            <label>Quantity:</label> 
                           

                            <div class="row no-gutters">
                                <div class="col">
                                    <button (click)="incrementQuantity(tempCartItem)" class="btn btn-dark btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>

                                <div class="col ml-4 mr-2">
                                    {{ tempCartItem.quantity }}
                                </div>

                                <div class="col">
                                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-dark btn-sm">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>

                                <div class="col-8"></div>
                            </div>

                        </div>

                        
                    </td>
                </tr>
<!----
                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold">
                        <p>Total Quantity: {{ totalQuantity }}</p>
                        <p>Shipping: FREE</p>
                        <p>Total Price: {{ totalPrice | currency: '฿' }}</p>
                        
                    </td>
                </tr><!-->

            </table>
            <aside class="col-md-4">
                        
                            
                           
                     
                <div class="card">
                    <div class="card-body">
                            <dl class="dlist-align">
                              <dt>Total Quantity:</dt>
                              <dd class="text-right">{{ totalQuantity }}</dd>
                            </dl>
                            <dl class="dlist-align">
                              <dt>Shipping Fees:</dt>
                              <dd class="text-right">0฿</dd>
                            </dl>
                            <dl class="dlist-align">
                              <dt>Total:</dt>
                              <dd class="text-right  h5"><strong>{{ totalPrice | currency: '฿' }}</strong></dd>
                            </dl>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                              <button routerLink="/products"  class="btn btn-outline-dark">Shop More</button>
                              <button routerLink="/checkout" class="btn btn-dark " >Proceed to Checkout</button> 
                            </div>
                    </div>
                </div>
            </aside>
            <!----
            <div class="checkout">
                <button routerLink="/checkout" class="btn btn-dark " >Proceed to Checkout</button> 
            </div> </!-->


        </div>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="shop-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>

        
          
        <div *ngIf="cartItems.length == 0 " class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#shop-fill"/></svg>
            <div>
                Your shopping cart is empty | <a href="/products" class="alert-link"> Let's SHOPICK!</a>
            </div>
  

        </div>
    </div>
</div>
