<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/BG/SHOPICK ADS11.jpg" alt="Random first slide" class="center">
      </div>
      <div class="carousel-caption">
        <h3>SHOP NOW!</h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/BG/SHOPICK ADS22.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/BG/SHOPICK ADS33.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    
    